/* default button */

.button {
   background-color: #292F36;
   width: fit-content;
   height: 75px;
   padding: 0 54px;
   display: flex;
   align-items: center;
   box-shadow: 0 10px 20px rgba(192, 192, 192, 0.35);
   border-radius: 18px;
   font-size: 18px;
   font-weight: 600;
   color:#FFFFFF;
   line-height: 22px;
   text-align: center;
}

.button > svg {
   color: #CDA274;
   margin-left: 9px;
}

.button:hover {
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.button_large {
   width: fit-content;
}


/* color button */

.color-button {
   background-color: #CDA274;
   box-shadow: 0 10px 20px rgba(192, 192, 192, 0.35);
   border-radius: 18px;
   width: fit-content;
   height: 75px;
   padding: 0 54px;
   display: flex;
   align-items: center;
   font-size: 18px;
   font-weight: 600;
   color:#FFFFFF;
   line-height: 22px;
}

.color-button > svg {
   color: #292F36;
   margin-left: 9px;
}

.color-button:hover {
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}



.block-header__title {
   font-family: "DM Serif Display", serif;
   font-size: 50px;
   line-height: 62px;
   letter-spacing: 0.02em;
   color: #292F36;
}

.block-header__subtitle {
   font-size: 22px;
   line-height: 33px;
   letter-spacing: 0.01em;
}


/* logo */

.logo {
   display: flex;
   gap: 10px;
   max-width: 50px;
}